<div class="large-8 columns" role="content">
  <% notfirst = false %>
  <% @blogposts.each do |post| %>
    <% if (notfirst) %>
      <hr/>
    <% end %>
    <% notfirst = true %>
    <%= render partial: "blogpost", locals: {post: post} %>
    <% if (@editable) %>
      <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_blogpost_path(post) %>
      <%= link_to 'NewPost', new_blogpost_path %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>
