<h3 class="side-nav-color" >Resume</h3>
<ul class="side-nav">
  <li class="active" id="resume-about"><%= link_to "About Me", "/resume/about", remote: true %></li>
  <li class="side-nav-inactive" id="resume-lang"><%= link_to "Languages and Skills", "/resume/lang", remote: true %></li>
  <li class="side-nav-inactive" id="resume-work"><%= link_to "Recent Relavant Training", "/resume/relevant", remote: true %></li>
  <li class="side-nav-inactive" id="resume-work"><%= link_to "Work History", "/resume/work", remote: true %></li>
  <li class="side-nav-inactive" id="resume-edu"><%= link_to "Education", "/resume/edu", remote: true %></li>
</ul>
